@import '../../pages/Root.less';


.shadow (@width: 0.5em, @spread: 0) {
    & {
      box-shadow: 0 0 @width @spread @shadow-color;
    }
}

.PageHeader {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3rem;

    .shadow (@width: 0.5em, @spread: 0px);

    .page-logo {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .search-bar {
        max-width: 40rem;
    }

    .ant-tabs-top {
        padding-top: 0.5rem;
    }

    .ant-tabs-nav::before {
        border-color: transparent !important;
    }

    .ant-menu {
        background-color: transparent !important;
        width: 30%;
    }

    .ant-menu-horizontal {
        border-bottom: none;
    }
}